.hud {
  width: $hud-width;
  height: $hud-height;
  background-color: $hud-bg;
  border-top: 5px solid $hud-border-color;
  display: flex;

  &__form {
    display: flex;
    margin: 0 auto;
  }

  &__buttons-container {
    display: flex;
  }

  &__button {
    @include button-border(2px, $button-light, $button-dark);
    background-color: $button-color;
    height: $button-height;
    width: $button-width;
    line-height: $button-height;
    font-size: $button-font-size;
    margin: $space-sm;
    text-align: center;
    user-select: none;

    &:active {
      @include button-border(2px, $button-dark, $button-light);
    }
  }

  &__input-container {

  }

  &__input {
    width: ($button-width * 4) + ($space-sm * 4);
    height: $input-height;
    padding: $input-padding;
    margin: 0 auto;
    display: block;
    font-size: 20px;
    font-family: monospace;
  }

  &__submit {
    font-family: monospace;
    font-size: 30px;
    background-color: $input-color;
    margin: $space-sm 0;
    height: $button-height + $input-height + 32px;
    width: $button-height + $input-height + 32px;
    @include button-border(2px, $input-light, $input-dark);

    &:active {
      @include button-border(2px, $input-dark, $input-light);
    }

    &:focus {
      outline: 0;
    }
  }

  &__last-sent-commands {
    margin: $space-md $space-sm;
    color: #fff;
  }
}
