$map-width: 750px;
$map-height: 525px;

$hud-width: $map-width;
$hud-height: auto;
$hud-bg: #030303;
$hud-border-color: #000;
$hud-message-width: 285px;

$button-height: 60px;
$button-width: 60px;
$button-font-color: #f2f2f2;
$button-color: #772626;
$button-dark: darken($button-color, 20%);
$button-light: lighten($button-color, 20%);
$button-font-size: 12px;

$input-height: 20px;
$input-padding: 10px;
$input-color: #2c6d1d;
$input-dark: darken($input-color, 20%);
$input-light: lighten($input-color, 20%);

$grid-item-width: $map-width / 10; // 90px
$grid-item-height: $map-height / 7; // 90px
$grid-spacing: 3px;

$base-spacing: 10px;
$space-sm: $base-spacing / 2;
$space-md: $base-spacing;
$space-lg: $base-spacing * 2;

$notification-height: 250px;
$notification-width: 600px;
$notification-color: #c51616;
$notification-heading-size: 40px;
$notification-copy-size: 20px;
